# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml
.trae/

# Rust
target/
Cargo.lock

# Node
node_modules/
pnpm-lock.yaml
pnpm-workspace.yaml
kql-ts/
kql-cli-ts/
kql-playground/
